---
import { getLaunchesBy,getLaunches } from "../../service/spaceX";
import Layout from '../../layouts/Layout.astro';

export const prerender = false

const {id} = Astro.params

console.log({id})

let launch

if(id){
  launch = await getLaunchesBy({id})
}

console.log({launch})
---
<Layout title="Launch">

<article class="flex gap-y-4 flex-col">
  <img class="w-52 h-auto" src={launch?.links.patch.small} alt={launch?.name} />
   <h2 class="text-4xl text-white font-bold">Lauch #{launch?.flight_number}</h2>
   <p class="text-lg">{launch?.details}</p>
</article>
</Layout>